nav{
  padding: 0 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav img{
  height: 7vh;
}

nav ul{
  display: flex;
  text-decoration: none;
  gap: 4vw;
  list-style-type: none;
  font-weight: 500;
}
